<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
</head>

<body>

<form action="projects/index" method="post">
		<input type="hidden" name="_csrf_token_645a83a41868941e4692aa31e7235f2" value="6df2ade963066f8db9674f3d7e48ba5c396b3a1d"/>

		<input type="text" name="name"/>
		<input type="submit" />

</form>


</body>
</html>
